
<div id="disclaimer-section">
    <h3>Important Event Information</h3>
      <p>Recognizing that custom, practice, regulation and laws differ around the world; J.P. Morgan is providing this disclaimer, in the interest of transparency, so that you may consider whether participation in the Best Of British Seminar is permissible under the laws of your home country and internal policies of your organization. By accepting this invitation, J.P. Morgan will understand that you have obtained all necessary approvals to participate in the Best Of British Seminar.</p>
      <p>If you do not consider this event to be an acceptable minor non-monetary benefit and/or would like to make a payment for your attendance, please contact the <a href="mailto:jp.morgan.capital.advisory.group@jpmorgan.com?subject=Macro%20and%20Quant%20Conference%20|%20Virtual%20|%20J.P.%20Morgan%20Capital%20Advisory%20Group%20|%20June%2023%20-%20June%2024%202021" target="_blank">J.P. Morgan Capital Advisory Group</a> who will be happy to assist. For the avoidance of doubt, where you attend this event on the basis that you do not represent an EEA investment advisor or portfolio manager J.P. Morgan is relying on that fact.</p>
      <p>This material is subject to terms at: <a href="http://www.jpmorgan.com/salesandtradingdisclaimer" target="_blank">www.jpmorgan.com/salesandtradingdisclaimer</a></p>
      <p>
        The information requested on this form will be processed only for the purposes of preparation and administration 
        of this event. Providing the requested information will also assist us in ensuring that the event is properly tailored 
        to meet the requirements of the attendees. By completing this form you are consenting to your data being 
        processed by employees and agents of JPMorgan Chase & Co. and its subsidiaries for these purposes. Your 
        email address will solely be used for event-related communications including confirmation and reminder emails.
      </p>
      <p>
        You expressly consent to our use of your information in the manner described below and in our privacy policy 
        (<a href="https://www.jpmorgan.com/privacy" target="_blank">www.jpmorgan.com/privacy</a>). We are committed to maintaining the security of your personal data and will take 
        all reasonable steps to protect it against unauthorized access, loss, destruction or misuse. If you have any further
        questions concerning your rights in relation to the processing of your personal data please 
        contact <a href="mailto:emea.events.privacy@jpmorgan.com" target="_blank">emea.events.privacy@jpmorgan.com</a> 
      </p>
      <p>
        Please note that the event may be recorded and videos, photographs and other recordings may be taken, where 
        you may be captured participating in the event. By submitting this form, you consent to the publication of such 
        photographs, videos, recordings, and/or likenesses (whether edited, adapted, modified or copied) and their use 
        by us and those that we authorise, without prior notice or compensation, in any way which we may see fit now or 
        in the future, including but not limited to, marketing and advertising. If you do not agree to this, please make a 
        member of our staff aware on the day.
      </p>
      <h3>
        I CERTIFY THAT THE INVESTOR PARTICIPANT I REPRESENT:
      </h3>
      <ul>
        <li>
          <p>
            If a resident of the United States, is an "Accredited Investor" within the meaning of Rule 501 of 
            Regulation D under the United States (U. S.) Securities Act of 1933, as amended (the "Securities Act") 
            and a "Qualified Purchaser" within the meaning of Section 2(a)(51) of the U.S. Investment Company Act
            and the rules thereunder.
          </p>
        </li>
        <li>
          <p>
            If a resident of the United Kingdom, is a person qualifying as an "investment professional" under Article 
            14 of the Financial Services and Markets Act 2000 (Promotion of Collective Investment Schemes) 
            (Exemptions) Order 2001 (the "CIS Order") or Article 19 of the Financial Services and Markets Act 2000 
            (Financial Promotion) Order 2001, as amended (the "Financial Promotion Order"); or is a person 
            qualifying as a "high net worth company or unincorporated association" under Article 22 of the CIS 
            Order or Article 49 of the Financial Promotion Order.
          </p>
        </li>
        <li>
          <p>
            If a resident of another jurisdiction, is a person qualifying under existing and relevant private placement 
            exemptions in the country of their residence as eligible to invest in hedge funds and related or similar 
            collective investment schemes or private investment vehicles.
          </p>
        </li>
      </ul>
      <h3>I UNDERSTAND AND AGREE THAT:</h3>
      <p>
        The J.P. Morgan Capital Introduction Program (the "CAG Program") operates through the following subsidiaries 
        of JPMorgan Chase & Co.: J.P. Morgan Securities LLC, J.P. Morgan Securities plc., J.P. Morgan Securities (Asia
        Pacific) Limited and JPMorgan Securities Japan Co., Ltd. (collectively, "J.P. Morgan"). J.P. Morgan does not 
        charge or receive fees for introduction services provided by the CAG Program. The CAG Program does not 
        provide capital raising, placement agent, referral, solicitation or equivalent services, and makes no investment 
        recommendations or endorsements of any kind to investors which participate in the CAG Program or 
        sophisticated or prospective investor invitees (the "Investor Participants"). However, such services, investment 
        recommendations and endorsements may be provided by J.P. Morgan businesses that are unrelated to the CAG 
        Program.
      </p>
      <p>
        All information presented in connection with the CAG Program including, but not limited to, any fund profiles, 
        manager biographies, presentations and any associated materials in any format (collectively, "Information") is 
        provided by the managers which participate in the CAG Program (the "Manager Participants"), and has not been 
        verified for accuracy or completeness by J.P. Morgan. The purpose of the event is to educate attendees about 
        private investment vehicles in general and the investment styles utilized by various Manager Participants. The 
        Information may not be suitable for any or all recipients. J.P. Morgan does not endorse or in any other way 
        recommend any of the Manager Participants who have contributed to the Information or any of their products. 
        Past performance is not necessarily indicative of future results and J.P. Morgan in no way guarantees the 
        investment performance, earnings or return of capital invested in any of the products or securities detailed in the 
        Information. Under all applicable laws, including, but not limited to, the U.S. Employee Retirement Income 
        Security Act of 1974, as amended, or the U.S. Internal Revenue Code of 1986, none of the Information presented
        in connection with the CAG Program shall constitute, or be construed as constituting or be deemed to constitute 
        business, investment, financial, tax, legal, regulatory or equivalent advice, and J.P. Morgan is not acting as 
        fiduciary for any purpose. The Information shall not form the primary basis of any investment decision. It is the 
        user's responsibility to independently confirm the Information and to obtain any other information deemed 
        relevant to any investment decision. J.P. Morgan makes no representation or warranty (express or implied) 
        regarding the fairness, accuracy, fitness for purpose, correctness or completeness of the statements, opinions, 
        estimates, conclusions and other information contained in the Information and J.P. Morgan accepts no 
        responsibility whatsoever for any loss, direct or indirect, arising from the Information.
      </p>
      <p>
        Any Information provided to Investor Participants domiciled in Member States of the European Union is provided 
        to such investors on the basis that the Investor Participant has made a request, at its own initiative, to receive the
        Information. Similarly, any meeting which an Investor Participant requests with any Manager Participant is made 
        at the request of the Investor Participant and has not been solicited in any way by J.P. Morgan. Any such investor
        who believes that they have not requested the Information or any part thereof or any meeting should notify the 
        CAG immediately.
      </p>
      <p>
        J.P. Morgan directly, or through any J.P. Morgan affiliate, has or may develop one or more business relationships
        with a fund or Manager Participant including, but not limited to, acting as prime broker, broker, dealer or clearing 
        agent. The fees, commissions and other revenues that J.P. Morgan earns or expects to earn through such 
        business relationships may be a significant factor in J.P. Morgan's determination as to the Manager Participants. 
        In addition, J.P. Morgan, operating through various affiliates, forms and manages its own hedge funds ("Affiliated 
        Managers"), and may in the capacity of Manager Participant feature their funds in the CAG Program. 
        Furthermore, J.P. Morgan, through various affiliates, including but not limited to Affiliated Managers, may invest 
        in hedge funds that are clients of J.P. Morgan; and may participate in the CAG Program as an Investor 
        Participant. Through such business relationships, J.P. Morgan may possess certain information about such funds
        or managers, including, potentially the fact that a manager's or fund's relationship with J.P. Morgan has been 
        terminated. With respect to such or any other type of information, whether or not material, J.P. Morgan has no 
        responsibility to, and may not, disclose that information to you. The foregoing business relationships may conflict 
        with any relationship that J.P. Morgan may have or will have with you including one with an advisory or 
        discretionary component to it ("Advisory Relationship"). Any information or material accompanying this disclaimer
        shall not be deemed under any circumstances to be provided to you as part of such Advisory Relationship. In 
        addition, unless expressly agreed to the contrary, J.P. Morgan shall be under no obligation as a result of such 
        Advisory Relationship to provide you with any advice or recommendations in connection with the Information or 
        any other material relating to any particular fund or manager referenced therein. You should not construe silence 
        by J.P. Morgan at any time as approval or endorsement of any statements made by a fund or its manager.
      </p>
      <p>The Information is provided for informational purposes only and may not be onward distributed, disclosed to any other party or used for any other purpose whatsoever without the prior consent of J.P. Morgan. The Information does not constitute and shall not be construed as constituting or be deemed to constitute: (i) a research product of the J.P. Morgan research department; or (ii) an invitation to treat in respect of, an offer or a solicitation of an offer to buy or sell any securities or constitute advice to buy or sell any security. The Information may be subject to change and neither the Capital Introduction Group nor J.P. Morgan has any duty to update the Information. In the United States, the Information is intended solely for institutions that are "accredited investors" (as defined by the U.S. Securities Act of 1933) and "qualified purchasers" (as defined in U.S. Investment Company Act of 1940). In the United Kingdom, the Information is intended solely for persons that are "investment professionals" for the purposes of Article 14 of the Financial Services and Markets Act 2000 (Promotion of Collective Investment Schemes) (Exemptions) Order 2001 (the "CIS Order") or a "high net worth company or unincorporated association" for the purposes of Article 22 of the CIS Order. In other jurisdictions, the Information is intended solely for institutions qualifying under equivalent standards under the laws of the jurisdictions of their residence. The Information is provided in the jurisdiction where it is provided, and J.P. Morgan makes no representation as to, nor accepts any liability for, the ability to import that information into any other jurisdiction.</p>
      <p>The funds and securities that may be discussed in the Information have not been registered or qualified with, nor approved or disapproved by, the U.S. Securities and Exchange Commission, nor has any regulatory authority passed upon the accuracy or adequacy of the Information that has been or will be provided in connection with the CAG Program.</p>
      <p>The Information has been prepared without taking account of knowledge, experience, objectives, financial situation or needs of individual investors. An investment in the products detailed in the Information carries potential risks and fees which are described in the relevant disclosure documents issued by the issuer of the product. An investor should, before deciding whether to invest in a fund, consider the appropriateness of the fund, having regard to the relevant disclosure documents and the investor's knowledge, experience, objectives, financial situation and needs. An investment in a hedge fund is speculative and involves a high degree of risk, which each investor must carefully consider. Returns generated from an investment in a hedge fund may not adequately compensate investors for the business and financial risks assumed. An investor in hedge funds could lose all or a substantial amount of his or her investment. While hedge funds are subject to market risks common to other types of investments, including market volatility, hedge funds employ certain trading techniques, such as the use of leveraging and other speculative investment practices that may increase the risk of investment loss. Other risks associated with hedge fund investments include, but are not limited to, the fact that hedge funds can be highly illiquid; are not required to provide periodic pricing or valuation information to investors; may involve complex tax structures and delays in distributing important tax information are not subject to the same regulatory requirements as mutual funds; often charge higher fees and the high fees may offset the fund's trading profits; may have a limited operating history; can have performance that is volatile; may have a fund manager who has total trading authority over the fund and the use of a single adviser applying generally similar trading programs could mean a lack of diversification, and consequentially, higher risk; may not have a secondary market for an investor's interest in the fund and none may be expected to develop; may have restrictions on transferring interests in the fund; and may affect a substantial portion of its trades on foreign exchanges.</p>
      <p>My acceptance to attend and attendance at the event presentations and any meetings with Manager Participants requested represents that I, for myself and on behalf of the Investor Participant I represent, I acknowledge that J.P. Morgan is not recommending any investment with these Manager Participants or the funds they may represent. I understand and acknowledge that the information provided at the event does not constitute "investment advice" as defined under the U.S. Employee Retirement Income Security Act of 1974 ("ERISA"), as amended, or the U.S. Internal Revenue Code of 1986 (the "Code"), J.P. Morgan is not acting as fiduciary for any purpose. I take full responsibility for any independent investment decision made in reliance on any information obtained in connection with the CAG Program and agree that any information provided in connection with the CAG Program will not form the primary basis of any investment decision.</p>
      <p>I have expressly requested that real time communications** be made to the Company I represent during my participation in the J.P. Morgan Event.</p>
      <p>By signing below, I represent that if my Investor Participant relies on Section 3(c)(1) or Section 3(c)(7) of the Investment Company Act for its exclusion from being deemed an investment company, the Investor Participant hereby represents and warrants that it has obtained the consent to its treatment as a qualified purchaser from the appropriate beneficial owners of its securities in accordance with the requirements of Section 2(a)(51)(C) of and Rule 2a51-2 under the Investment Company Act. By signing and providing my contact information below, I agree to J.P. Morgan sharing such contact information with the Manager Participants and the funds that they represent. I further understand and agree that J.P. Morgan, the Manager Participants and the funds that they represent, may transfer, store or otherwise process my contact information in various jurisdictions for marketing purposes and use this information to contact me regarding investment in hedge funds.</p>
      <p style="font-style: italic;">** As defined in the Financial Services and Markets Act 2000 (Promotion of Collective Investment Schemes) (Exemptions) Order 2001 and the Financial Services and Markets Act 2000 (Financial Promotion) Order 2001, as amended. All registered attendees received a confirmation prior to the event which included a request for real time communications.</p>
      <p>Relevant definitions of the terms hereunder are available on request from J.P. Morgan.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF AUSTRALIA</h3>
      <p>The Information is provided by J.P. Morgan to wholesale clients only (within the meaning of section 761G of the Corporations Act 2001 (Cth)). By accepting the Information, you are representing that you are a wholesale client. The Information is not and does not constitute an offer, invitation or recommendation to subscribe for, or purchase any security or financial product.</p>
      <p>J.P. Morgan Securities LLC, J.P. Morgan Securities plc and J.P. Morgan Securities (Asia Pacific) Limited are the entities that may be used to provide services to Australia clients under the CAG Program. These entities are exempt from holding an AFSL and may provide financial services in accordance with applicable ASIC Class Order relief under the Corporations Act 2001 of Australia (the "Act") as described below.</p>
      <ol type="I">
        <li><p>J.P. Morgan Securities LLC provides financial services in Australia pursuant to ASIC Class Order 03/1100 and is primarily regulated by the U.S. Securities and Exchange Commission under the laws of the United States of America, which differ from Australian laws.</p></li>
        <li><p>J.P. Morgan Securities plc provides financial services in Australia pursuant to ASIC Class Order 03/1099 and is authorised by the Prudential Regulation Authority ("PRA") and regulated by the Financial Conduct Authority and the PRA under the laws of United Kingdom, which differ from Australian laws.</p></li>
        <li><p>J.P. Morgan Securities (Asia Pacific) Limited provides financial services in Australia pursuant to ASIC Class Order 03/1103 and is regulated by the Hong Kong Securities and Futures Commission under the laws of Hong Kong, which differ from Australian laws.</p></li>
      </ol>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF AUSTRIA</h3>
      <p>This Information is solely directed at qualified investors. It does not constitute an offer to sell or a solicitation of an offer to buy an interest in the funds or securities referred to herein. No public offer within the meaning of section 1 para 1 no 1 of the Austrian Capital Markets Act (Kapitalmarktgesetz - KMG) or section 24 or section 33 of the Austrian Investment Funds Act (Investmentfondsgesetz - InvFG) of the interests in the funds or securities referred to herein is being made in Austria. The interests in the funds or securities referred to herein are not authorised for distribution under the InvFG. The interests in the funds or securities referred to herein are being offered in Austria exclusively by way of a private placement to a limited number of addresses which have been individually selected whereby the identity of the addresses has been determined before the marketing was commenced. Neither this document nor any other document in connection with the interests in the funds or securities referred to herein is a prospectus according to the KMG or the InvFG and has therefore not been drawn up, audited, approved and published in accordance with said acts. Neither this document nor any other document connected with the interests in the funds or securities referred to herein may be distributed, passed on or disclosed to any other person in Austria, save as specifically agreed with you. The interests in the funds or securities referred to herein may only be (re)sold or transferred in Austria in accordance with the provisions of the KMG, the InvFG and any other laws applicable in Austria governing the issue, (re)sale and offering of securities or units in investment funds. The information contained in this document is of a general nature and does not constitute any type of investment advice whatsoever and does not purport to express an opinion as to the suitability of the interests in the funds or securities referred to herein for, nor does it recommend the interests in the funds or securities referred to herein to, any particular investor. This information is confidential and property of J.P. Morgan and is furnished to professional investors solely for their information and its content may not be copied, distributed, disclosed or otherwise be made available, directly or indirectly, to any other person apart from the investors or their advisers by any recipient, in whole or in part.</p>
      <p>Forward-looking statements are speculative in nature and involve known and unknown risks, uncertainties and other factors, which may cause the actual results, financial condition, performance, or achievements of fund(s) or securities to differ materially from the results, financial condition, performance or achievements expressed or implied by such forward-looking statements. Past performance is not indicative of future performance.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF BELGIUM</h3>
      <p>None of the Information has been, nor will it be, approved by the Belgian Banking, Finance and Insurance Commission ("Commission bancaire, financiÃ¨re et des assurances"/"Commissie voor het Bank-, Financie- en Assurantiewezen"). Accordingly, the Information does not constitute a public offer. Fund interests have been, or will be, sold, offered for sale or marketed in Belgium only to (i) less than 100 persons (other than "Qualified Investors") or (ii) persons who either each subscribe for a minimum of EUR 50,000 or are exclusively Qualified Investors, acting for their own account, and listed in Article 5, Â§ 3 of the Law of July 20, 2004 on certain forms of collective management of investment portfolios ("relative a certaines formes de gestion collectives de portefeuilles d'investissement"/"betreffende bepaalde vormen van collectief beheer van beleggingsportefeuilles") and extended by the Royal Decree of September 26, 2006 on the extension of the scope of the term "Qualified Investors" ("portant extension de la notion d'investisseurs qualifiÃ©s et de la notion d'investisseurs institutionnels ou professionnels"/"tot uitbreiding van het begrip gekwalificeerde belegger en het begrip institutionele of professionele belegger") adopted pursuant to and on the basis of Article 5 Â§ 3, 9Â° of the Law of July 20, 2004. The Information has been, or will be, individually addressed in Belgium to such persons, for their personal use and exclusively for the purposes of the offering of fund interests. Accordingly, this document may neither be used for any other purpose nor passed on to any other investor in Belgium.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF FINLAND</h3>
      <p>The Information may only be distributed in Finland to investors who qualify as professional investors under the 
        Finnish Investment Funds Act 48/1999. The Information does not constitute a prospectus under the Prospectus 
        Directive 2003/71/EC (as amended), the Finnish Securities Markets Act 746/2012 or the Finnish Investment 
        Funds Act 48/1999 and has not been approved by or notified to the Finnish Financial Supervisory Authority. The 
        Information does not constitute a public offer or an advertisement of securities in Finland and interests in the 
        fund(s) or securities will not and may not be offered, sold, advertised or otherwise marketed, directly or indirectly, 
        in or into Finland, other than to investors who qualify as professional investors under the Finnish Investment 
        Funds Act 48/1999. Any offer or sale of interests in the fund(s) or securities in Finland shall be pursuant to a 
        private placement exemption as defined under the Prospectus Directive 2003/71/EC, Article 3(2,) the Finnish 
        Securities Market Act 746/2012 or the Finnish Investment Funds Act 48/1999 and any regulation made 
        thereunder, as supplemented and amended from time to time. The Information shall not be used for the purpose 
        of, or in connection with, any offer or solicitation relating to non-professional investors in Finland, and such 
        material shall not be delivered to such non-professional investors.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF FRANCE</h3>
      <p>This Information is being provided to you further to your prior spontaneous request. This Information has not 
        been submitted to the French authority supervising the financial markets, the AutoritÃ© des marchÃ©s financiers 
        ("AMF"), for prior approval pursuant to Article L214-1-1 of the French financial and monetary code. Accordingly, 
        the interests in the fund(s) or securities may not be marketed or offered for subscription or sale in France. Neither
        this Information nor any other offering or marketing material relating to the offer of interests in the fund(s) or 
        securities may be distributed or caused to be distributed in France or used in connection with any other offer for 
        the subscription or sale of such interests in France. The Information does not constitute an offer for subscription, 
        or an offer to provide financial advice not any financial solicitation.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF GERMANY</h3>
      <p>The interests in the fund(s) or securities are neither registered for public distribution with the German Federal Financial Services Supervisory Authority (Bundesanstalt fÃ¼r Finanzdienstleistungsaufsicht â€“ BaFin) according to the German Investment Act (Investmentgesetz) nor listed on a German exchange. No sales prospectus pursuant to the German Securities Prospectus Act (Wertpapierprospektgesetz) or the German Securities Selling Prospectus Act (Wertpapier-Verkaufsprospektgesetz) has been filed with the BaFin. Consequently, neither the interests in the fund(s) nor securities must be distributed in or into Germany by way of a public offer, public advertisement or in any similar manner, and this document and any other document relating to the fund, as well as information or statements contained therein, may not be supplied to the public in Germany or used in connection with any offer for subscription of the interests in the fund(s) or securities to the public in Germany or any other means of public marketing. Any resale of the interests in the fund(s) or securities in Germany must not be made by way of a public offer, public advertisement or in any similar manner and should also comply with the applicable exemptions of Section 3 para. 2 of the German Securities Prospectus Act, Section 2 para. 11 of the German Investment Act, Section 8f para. 2 of the German Securities Selling Prospectus Act, as applicable, and any other laws applicable in Germany governing the sale and offering of the interests in the fund(s) or securities. Participation in the CAG Program does not create an advisory, agency, or placement agreement. The organiser refuses any liability, which may result from any potential business relationship between the guests to the capital introduction.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF HONG KONG</h3>
      <p>The Information has not been reviewed or authorised by the Hong Kong Securities and Futures Commission nor has it been reviewed by any other regulatory authority and, accordingly, the Information must not be issued, circulated or distributed in Hong Kong other than in circumstances which do not constitute an offer or sale of any funds to the public in Hong Kong, or to a professional investor as defined in the Securities and Futures Ordinance (Cap. 571) and the Securities and Futures (Professional Investor) Rules (Cap. 571D) (a "Professional Investor"). Unless permitted by the securities laws of Hong Kong, no person may issue in Hong Kong, or have in its possession for issue in Hong Kong, the Information or any other advertisement, invitation or document relating to the funds other than to a Professional Investor.</p>
      <p>The securities described in the Information may not be offered for sale or sold in Hong Kong, by means of any document, other than (i) to Professional Investors; or (ii) in other circumstances which do not result in the document being a "prospectus" as defined in the Companies Ordinance (Cap. 32) or which do not constitute an offer to the public within the meaning of the Companies Ordinance.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF IRELAND</h3>
      <p>This Information is being provided to you further to your prior request. Information is being provided to you on the basis that you have indicated that you are a "professional client" as defined under the European Communities (Markets in Financial Instruments) Regulations 2007, as amended and a professional investor within the meaning of the European Union (Alternative Investment Fund Managers) Regulations, 2013, as amended. The provision of this Information should not be construed as marketing by J.P. Morgan of interests in any fund or as constituting an investment recommendation or as being a representation or warranty by J.P. Morgan concerning any fund or manager referenced in the Information. The activities of J.P. Morgan are not regulated by the Central Bank of Ireland. The funds and the managers may be regulated by the Central Bank of Ireland, as provided for in the applicable materials and/or presentation relating to the fund and or manager from time to time.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF ITALY</h3>
      <p>The Information presented in connection with the CAG Program is provided for informational purposes only and nothing contained in the Information should be construed as constituting an offering by J.P. Morgan to sell interests in the fund(s) or securities to any person or entity within, or ordinarily resident in, the Republic of Italy, pursuant to Italian laws where such an offer or solicitation is illegal. J.P. Morgan is not soliciting any action based on the Information. The Information presented in connection with the CAG Program is provided for general information purposes only and must not be used for offering or soliciting sales in the Republic of Italy. The fund(s) is/are not authorized for distribution in the Republic of Italy and J.P. Morgan assumes no responsibility for any Information presented in connection with the CAG Program that cannot be distributed to any Italian investor in violation of regulations, laws or other rules in force in the Republic of Italy. Any use of the Information presented in connection with the CAG Program is at the sole and exclusive risk of the user, who assumes full legal, regulatory and financial responsibility and risk of loss resulting from such use. J.P. Morgan shall not be liable for any special, indirect, incidental, consequential or punitive damages or any other damages whatsoever, whether in an action of contract, statute, tort (including, without limitation, negligence) or otherwise, relating to the use of the Information presented in connection with the CAG Program. If any of the foregoing is not fully enforceable for any reason, the remainder shall nonetheless continue to apply.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF MONACO</h3>
      <p>The interests in the fund(s) or securities may not be offered or sold, directly or indirectly, to the public in Monaco other than by a Monaco duly authorized intermediary acting as a professional institutional investor. Consequently, this Information may only be communicated to banks duly licensed by the "AutoritÃ© de ContrÃ´le Prudentiel" and portfolio management companies duly licensed by the "Commission de ContrÃ´le des ActivitÃ©s FinanciÃ¨res" by virtue of Law nÂ° 1.144 of July 26th, 1991 and Law 1.338 of September 7th, 2007.</p>
      <p>The addressees hereof are perfectly fluent in English and expressly waive the possibility of a French translation of the Information. Les destinataires du prÃ©sent document reconnaissent Ãªtre Ã  mÃªme d'en prendre connaissance en langue anglaise et renonce expressÃ©ment Ã  une traduction franÃ§aise.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF THE NETHERLANDS</h3>  
      <p>This Information is being provided to you further to your prior request. Neither the fund(s) nor the manager(s) are subject to (i) the licence requirement under the Dutch Financial Supervision Act (Wet op het financieel toezicht) and (ii) the supervision of the Dutch Authority for the Financial Markets (Autoriteit FinanciÃ«le Markten)". The interest in the fund(s) or securities may not be offered, sold, transferred or delivered, directly or indirectly, in the Netherlands as part of their initial distribution or at any time thereafter, other than to individuals or legal entities that are considered qualified investors (gekwalificeerde beleggers) within the meaning of section 1:1 of the Dutch Financial Supervision Act (Wet op het financieel toezicht; Wft). By participating in any meetings hosted by the Capital Introduction Group, you accept that your relations with CAG, including any non-contractual relations, is governed by English law.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF NEW ZEALAND</h3>
      <p>The Information is provided by J.P. Morgan to wholesale investors only (within the meaning of Schedule 1 of the Financial Markets Conduct Act 2013). By accepting the Information, you are representing that you are a wholesale investor.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF NORWAY</h3>
      <p>Neither the Information nor any activity in the CAG Program constitutes, or is intended to be, an invitation or solicitation to invest in the fund(s) or provision of investment management services. J.P. Morgan assumes no responsibility for the content of the Information which has been provided for informational purposes only.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF THE PEOPLE'S REPUBLIC OF CHINA</h3>
      <p>The Information is intended solely for, and addressed only to, investors of the People's Republic of China (the "PRC") who are qualified under the laws of the People's Republic of China to invest in offshore funds, including public funds, private funds or hedge funds. Any securities referred to in the Information are not, and will not be, registered with, authorised by, nor approved by any PRC authorities. It shall be the sole responsibility of the PRC investors, to verify their eligibility to purchase any fund, to obtain any required approval, quota and/or registration in the PRC, and to comply with all applicable regulatory requirements under the PRC legal regime.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF PORTUGAL</h3>
      <p>This Information is addressed only to institutional investors, as so qualified pursuant to the Portuguese Securities Code (Decree-Law 486/99, dated November 13, 2000, as amended) or to pre-determined investors and does not qualify as a offer of units/shares in undertakings for collective investments, as per article 1 no.3 ex vi article 15 of Undertakings for Collective Investment Law.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF THE REPUBLIC OF CHINA (TAIWAN)</h3>
      <p>The information is intended solely for, and addressed only to: (i) qualified institutional investors in the Republic of China (the "ROC"); or (ii) up to 35 entities and individuals meeting specific criteria in the ROC, pursuant to the Rules Governing Offshore Funds of the ROC. The funds or securities referred to in the Information may be made available to ROC resident investors outside ROC for purchase outside ROC by such investors but may not otherwise be sold, offered or issued in ROC.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF SINGAPORE</h3>
      <p>The funds and securities referred to in the Information have not been registered and will not be as a prospectus with the Monetary Authority of Singapore under the Securities and Futures Act, Chapter 289 of Singapore (the "SFA"). Accordingly, such funds and securities may not be offered or sold or made the subject of an invitation for subscription or purchase, nor may any other document or material in connection with the offer or sale or invitation for subscription or purchase of any securities be circulated or distributed, whether directly or indirectly, to any person in Singapore, other than (i) to an institutional investor as defined in section 4A of the SFA, (ii) to a relevant person as defined in section 275 of the SFA.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF SPAIN</h3>
      <p>The Information does not constitute, or is intended to be, an invitation or solicitation to invest in the fund(s). J.P. Morgan assumes no responsibility for the contents of the Information.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF SOUTH KOREA</h3>
      <p>The Information is intended solely for, and addressed only to an "Institutional Investor" as defined in Article 1-2, Item 4 of the Foreign Exchange Transaction Regulations of South Korea. The Information is being provided for general educational purposes and is not intended as an advertisement (including an "investment advertisement" as defined in Article 57 of the Financial Investment Services and Capital Markets Act).</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF SWEDEN</h3>
      <p>This Information is not subject to any registration or approval requirements in Sweden under the Swedish Investment Funds Act (SFS 2004:46). This Information has therefore not been, nor will be, registered or approved by the Swedish Financial Supervisory Authority (Sw: Finansinspektionen).</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF SWITZERLAND</h3>
      <p>The interests in the funds or securities referred to in the Information (including in any attached fund profile(s)) may not be offered, sold or advertised, directly or indirectly, to non-qualified investors within the meaning of the Swiss Federal Act on Collective Investment Schemes of June 23, 2006, as amended (CISA) in or from Switzerland. None of the Information (nor the attached fund profile(s) nor any other offering or marketing material relating to the funds or securities referred to therein) constitutes a prospectus as that term is understood pursuant to article 652a or 1156 of the Swiss Federal Code of Obligations or a prospectus pursuant to the CISA. The Information may only be used by those persons to whom the Information is provided and may neither be copied nor, directly or indirectly, be distributed or made available to other persons.</p>
      <p>None of the funds or securities referred to in the Information has been licensed for distribution to non-qualified investors with the Swiss Financial Market Supervisory Authority FINMA (FINMA) as foreign collective investment scheme pursuant to article 120 para. 1 CISA. Accordingly, pursuant to article 120 para. 4 CISA, the interests in the funds and securities referred to in the Information may only be offered, advertised or otherwise distributed, directly or indirectly, in or from Switzerland and any marketing or offering documents relating to any such fund or securities may only be distributed in or from Switzerland (i) by way of distribution to qualified investors as defined in article 10 para. 3 CISA and its implementing ordinance, and (ii) if the fund has appointed a duly licensed Swiss bank as paying agent in Switzerland. Investors in the interests in the funds or securities referred to in the Information do not benefit from the specific investor protection provided by CISA and the supervision by the FINMA in connection with the licensing for distribution.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF THE UNITED ARAB EMIRATES</h3>
      <p>The Information is strictly private and confidential and is being distributed to a limited number of investors and must not be provided to any person other than the original recipient, and may not be reproduced or used for any other purpose.</p>
      <p>This Information is being distributed to investors within the United Arab Emirates solely to persons to whom this Information has been provided as the result of a request made by such persons on their own initiative and to whom the fund or investment management services have not been promoted or marketed prior to such request and who are sophisticated investors; or who are Federal or local government entities; or companies, institutions and other entities whose primary activity is, or whose activities include, the investment of securities and/or funds, providing that such companies, institutions and entities are acting for their own account.</p>
      <p>By receiving this Information, the person or entity to whom it has been issued understands, acknowledges and agrees that this Information has not been approved by the U.A.E. Central Bank, the UAE Securities and Commodities Authority or any other authorities in the U.A.E., nor has the placement agent, if any, received authorization or licensing from the U.A.E. Central Bank, the UAE Securities and Commodities Authority or any other authorities in the United Arab Emirates to market or sell shares or fund units within the United Arab Emirates. No marketing of any financial products or services has been or will be made from within the United Arab Emirates and no subscription to any securities, products or financial services may or will be consummated within the United Arab Emirates. It should not be assumed that the placement agent, if any, is a licensed broker, dealer or investment adviser under the laws applicable in the United Arab Emirates, or that it advises individuals resident in the United Arab Emirates as to the appropriateness of investing in or purchasing or selling securities or other financial products. The interests may not be offered or sold directly or indirectly to the public in the United Arab Emirates. This does not constitute a public offer of securities in the United Arab Emirates in accordance with the Commercial Companies Law, Federal Law No. 8 of 1984 (as amended) or otherwise.</p>
      <p>Nothing contained in this Information is intended to constitute investment, legal, tax, accounting or other professional advice. This Information is for your information only and nothing in this Information is intended to endorse or recommend a particular course of action. You should consult with an appropriate professional for specific advice rendered on the basis of your situation. It is possible that some of the investments that will be made by the fund could be described as "relatively high risk" or even "high risk". Often the decrease in value of certain investments held by the fund will be balanced by the increase in value of other investments in the fund's portfolio. However, this will not always be the case. If there is an overall decrease in the value of the fund's portfolio of investments, this could substantially affect the value of your shares/fund units.</p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF THE UNITED KINGDOM</h3>
      <p>The arrangements described in the Information presented in connection with the CAG Program may be categorised as unregulated collective investment schemes, as defined in the Financial Services and Markets Act 2000 (the "FSMA"). Promotion of such collective investment schemes is restricted and such schemes cannot be marketed in the United Kingdom to the general public. The Information presented in connection with the CAG Program may only be communicated, or caused to be communicated, to a person authorised to carry on a regulated activity under the FSMA (an "Authorised Person") or to persons otherwise having professional experience in matters relating to the particular type of investment (including in relation to participating in unregulated collective investment schemes) and qualifying as investment professionals under Article 19 of the Financial Services and Markets Act 2000 (Financial Promotion) Order 2005, as amended or to persons qualifying as high net worth companies or unincorporated associations under Article 49 of that Order, or, if the person communicating this Information and the information presented in connection with the CAG Program (or causing it to be communicated) is an Authorised Person, to those persons otherwise having professional experience in matters relating to the particular type of investment and qualifying as investment professionals under Article 14 of the Financial Services and Markets Act 2000 (Promotion of Collective Investment Schemes) (Exemptions) Order 2001, as amended, or to persons qualifying as high net worth companies or unincorporated associations under Article 22 of that Order. Where the unregulated collective investment scheme is an alternative investment fund ("AIF") in respect of which the conditions in Articles 49 or 50 of the Alternative Investment Fund Managers Regulations 2013 (the "Regulations") are satisfied then such AIF may be marketed to Professional Investors (as defined in the Regulations).</p>
      <p>J.P. Morgan does not under any circumstances approve the content of any Fund and/or Manager information or any other communication made by a Manager to Investor Participants for the purpose of section 21 of FSMA. The Information presented in connection with the CAG Program is not available to other categories of persons in the United Kingdom and no-one falling outside such categories is entitled to rely on, and they must not act on, any Information presented in connection with the CAG Program. The communication of the Information presented in connection with the CAG Program is unauthorised and may contravene the FSMA. None of the Information that may be presented in connection with the CAG Program constitutes, is intended to constitute, shall be treated as constituting or shall be deemed to constitute, an offer of any securities to the public (as defined in the Public Offers of Securities Regulations 1995, as amended) in the United Kingdom and accordingly no prospectus has been filed in the United Kingdom in respect thereof.</p>
      <p>IRS Circular 230 Disclosure: JPMorgan Chase & Co. and its affiliates do not provide tax advice. Accordingly, any discussion of U.S. tax matters included herein (including any attachments) is not intended or written to be used, and cannot be used, in connection with the promotion, marketing or recommendation by anyone not affiliated with JPMorgan Chase & Co. of any of the matters addressed herein or for the purpose of avoiding U.S. tax-related penalties.</p>
      <p>Copyright Â© 2021 JPMorgan Chase & Co. All rights reserved. J.P. Morgan is a marketing name for investment banking businesses of J.P. Morgan Chase & Co. and its subsidiaries and affiliates worldwide. Bank products and services, including certain lending, derivative and other commercial banking activities, are offered by JPMorgan Chase Bank N.A. (JPMCB), including through its authorized branches and other global affiliates registered with local authorities as appropriate. Securities products and services, including execution services, are offered in the United States by J.P. Morgan Securities LLC (JPMS LLC), in EMEA by J.P. Morgan Securities plc (JPMS plc) where permitted and in other jurisdictions worldwide by other appropriately licensed global affiliates. JPMCB, JPMS LLC and JPMS plc are principal subsidiaries of JPMorgan Chase & Co. For information on which legal entities offer investment banking products and services in each jurisdiction, please consult: <a href="http://www.jpmorgan.com/ib-legal-entities" target="_blank">www.jpmorgan.com/ib-legal-entities</a>. For important disclosures in respect of securities transactions, please consult: <a href="http://www.jpmorgan.com/securities-transactions" target="_blank"></a> www.jpmorgan.com/securities-transactions and in respect of over-the-counter equity derivatives transactions, please consult: <a href="http://www.jpmorgan.com/otc-equity-derivative-transactions" target="_blank">www.jpmorgan.com/otc-equity-derivative-transactions.</a></p>
      <p>For additional regulatory disclosures, please consult: <a href="http://www.jpmorgan.com/disclosures" target="_blank">www.jpmorgan.com/disclosures</a></p>
      <h3>By your acceptance and use of the Information and/or your continued participation in the CAG Program you:</h3>
      <ol type="I">
        <li><p>accept and agree to the foregoing;</p></li>
        <li>
          <p>represent that you are qualified to receive the Information presented in connection with the CAG Program;</p>
        </li>
        <li>
          <p>agree not to copy or circulate these or any portion of the Information presented in connection with the CAG Program without the express written consent of J.P. Morgan; and</p>
        </li>
        <li>
          <p>agree to discharge J.P. Morgan from all responsibility and to hold J.P. Morgan harmless from and against all claims directly or indirectly arising out of or in connection with the Information presented in connection with the CAG Program (or any other activities in connection therewith).</p>
        </li>
      </ol>
      <p style="font-style: italic;">* The terms "investment advice" and "fiduciary" shall be interpreted broadly, but in any event, shall at least have the meaning given to such terms in the United States (" U.S. ") Employee Retirement Income Security Act of 1974 ("ERISA"), as amended, or the U.S. Internal Revenue Code of 1986 (the "Code"), as amended, as applicable.</p>
  </div>  